.lista_projetos{
    padding-bottom: 400px;
}
.projetos h1{
    font-size: 60px;
    padding-top: 80px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.lista_projetos{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: grid;
    width: 800px;
}

.titulo_projetos{
    margin-bottom: 20px;
}

.ver{
    color: #dddddd;
    font-size: 25px;
    width: 100px;
    transition: background-color 0.3s ease-in-out;
}
.ver:hover{
    font-size: 26px;
    border-bottom: 2px solid #67dd0a;
    color: #ffffff;

}

.projeto-titulo{
    font-size: 40px;
    padding: 10px;
}
.projeto-subtitulo{
    font-size: 25px;
    padding: 10px;
}
.projeto_texto{
    font-size: 18px;
    max-width: 55ch;
    padding-bottom: 10px;
    padding-top: 10px;
    padding: 10px;
}






@media (max-width: 800px){
    .lista_projetos{
        width: 600px;
    }
}

@media (max-width: 600px){
    .lista_projetos{
        width: 400px;
    }
    .projetos h1{
        font-size: 40px;
    }
    .projetos h1 img{
        width: 10%;
    }
}
@media (max-width: 400px){
    .lista_projetos{
        width: 300px;
    }


}